<!DOCTYPE HTML>
<html>
<head>
    <title>spirng boot web service</title>
    <meta http-equiv="COntent-Type" content="text/html;charset=UTF-8"/>
</head>
<body>
    <h1>web service started by spring boot</h1>
</body>
</html>